<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
       
      <span class="navbar-brand" style="font-size: 25px;"> Welcome <br><b> Naresh Kamble </b> </span>
     
 
      <div class=" col-12" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="nav-link-container">
              <span><span class="nav-value"><h6>Monthly <br> Overview <br></h6><span class="nav-label"></span></span>(in KW)</span>
            </div>
 
          </li>
          <li class="nav-item">
            <div class="nav-link-container">
              <span class="nav-label">Energy Generation<br> <span class="nav-value">190.56 kW</span></span>
             
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link-container">
              <span class="nav-label">Energy Consumption<br><span class="nav-value">122.43 kW</span></span>
             
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link-container">
              <span class="nav-label">Export to Grid<br> <span class="nav-value">68.13 kW</span></span>
             
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 